body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: whitesmoke; 

header {
    background-color: darkred;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: darkblue; 
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    background: white;
    margin: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black; 
    color: white;
}

.disclaimer {
    font-size: 12px;
}
